@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  /* src: url("fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype"); */
}
@font-face {
  font-family: "Afacad";
  src: url("fonts/Afacad/Afacad-VariableFont_wght.ttf") format("truetype");
  /* src: url("fonts/Afacad/Afacad-Italic-VariableFont_wght.ttf") format("truetype"); */
}
@font-face {
  font-family: "Merriweather Sans";
  src: url("fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf")
    format("truetype");
  /* src: url("fonts/Merriweather_Sans/MerriweatherSans-Italic-VariableFont_wght.ttf") format("truetype"); */
}

* {
  --bg-color: #f7f7f7;
  --primary-color: #4e595a;
  --secondary-color: #42484a;
  --primary-button-color: #67a2b6;
  --err-color: #f1d1d1;
  --info-color: #d1e8f1;
  --warn-color: #f1e8d1;
  --success-color: #d1f1d1;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.title h1 {
  font-size: 2.9em;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.title p {
  font-size: 1em;
  color: var(--secondary-color);
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

label {
  font-family: "Merriweather Sans";
    color: var(--secondary-color);

}

.form-area {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20%; */
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

form {
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;
  padding: 1.2em;
  /* gap: 1em; */
}


label {
  font-size: 1.2em;
  color: var(--primary-color);
  font-family: "Merriweather Sans", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  width: 100%;
}
.error,
.status {
  display: none;
}

.error.visible {
  display: flex;
  flex-direction: row-reverse !important;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  padding: 10px;
  width: 100%;
  background-color: var(--err-color);
  margin-bottom: 10px;
  border-radius: 10px;
}

.status.visible {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: var(--info-color);
  margin-bottom: 10px;
  border-radius: 10px;
}

.error-msg {
  color: rgb(224, 79, 79);
  font-size: 0.9em;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: lighter;
  margin: auto;
}

.status-msg {
  color: rgb(45, 136, 148);
  font-size: 0.9em;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: lighter;
  margin: auto;
}

input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1em;
  border: none;
}

.btn-primary {
  background-color: var(--primary-button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  /* width: 50%; */
}

/* .line {
  width: 60%;
  height: 1px;
  background-color: var(--primary-color);
} */
